body {
  margin: 0;
}

.auth {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth__logo {
  width: 70px;
}
.auth__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.auth__input {
  display: flex;
}
.form__input {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.form__input input {
  width: 200px;
  height: 30px;
  outline: none;
  border: 1px solid rgb(175, 175, 175);
  color: rgb(75, 75, 75);
  border-radius: 5px;
  margin: 3px 0;
  padding-left: 8px;
}
.form__input input:focus {
  border: 1px solid rgb(214, 66, 66);
  color: rgb(214, 66, 66);
}
.form__input input::placeholder {
  color: rgb(175, 175, 175);
}
.form__submit {
  cursor: pointer;
  font-size: 15px;
  position: relative;
  top: 2px;
  width: 80px;
  height: 75px;
  outline: none;
  border: none;
  background-color: rgb(214, 66, 66);
  color: white;
  border-radius: 5px;
}
.form__error {
  color: rgb(214, 66, 66);
  margin: 10px 0 0 0;
  padding: 0;
}
.auth__sign {
  position: relative;
  top: 60px;
  cursor: pointer;
  color: rgb(100, 100, 100);
}
.auth__sign b {
  color: rgb(214, 66, 66);
}

.auth__social {
  position: relative;
  top: -55px;
}
.auth__social button {
  cursor: pointer;
  font-size: 14px;
  margin: 0 8px;
  width: 140px;
  height: 40px;
  outline: none;
  border: none;
  border: 1px solid rgb(214, 66, 66);
  background-color: white;
  color: rgb(214, 66, 66);
  border-radius: 5px;
  transition: all 0.3s ease;
}
.auth__social button:hover {
  border: 1px solid rgb(214, 66, 66);
  background-color: rgb(214, 66, 66);
  color: white;
}
