.profile__form {
  position: relative;
  margin: 50px 0 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile__form__logout {
  width: 80px;
  height: 40px;
  margin-bottom: 20px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgb(214, 66, 66);
  color: white;
}
.profile__form label {
  font-size: 20px;
}
.profile__form__text {
  font-size: 18px;
  width: 200px;
  height: 40px;
  outline: none;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
  padding-left: 7px;
  margin: 0 15px;
}
.profile__form__submit {
  font-size: 15px;
  cursor: pointer;
  width: 60px;
  height: 44px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgb(214, 66, 66);
  color: white;
}
.profile__myWrite {
  position: absolute;
  top: 120px;
}

.footer {
  margin-top: 100px;
}
