.aweet {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(235, 235, 235);
  width: 1000px;
  height: 150px;
  margin: auto;
  margin-bottom: -1px;
}

/* Editing이 true 일 때 */
.aweet__editing__text {
  font-size: 18px;
  width: 500px;
  height: 40px;
  outline: none;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 5px;
  padding-left: 7px;
  margin-bottom: 7px;
}
.aweet__editing__text:focus {
  border: 1px solid rgb(212, 143, 143);
}
.aweet__editing__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.aweet__editing__button__edit {
  font-size: 15px;
  cursor: pointer;
  margin-left: 10px;
  width: 60px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgb(214, 66, 66);
  color: white;
}
.aweet__editing__button__cancel {
  font-size: 15px;
  cursor: pointer;
  margin-left: 10px;
  width: 60px;
  height: 31px;
  outline: none;
  border: none;
  border-radius: 5px;
  border: 2px solid rgb(214, 66, 66);
  background-color: white;
  color: rgb(214, 66, 66);
}

/* Editing이 false 일 때 */
.aweet__box {
  position: absolute;
  left: 50px;
}
.aweet__box p {
  font-size: 21px;
  max-width: 700px;
  color: rgb(50, 50, 50);
}
.aweet__box h5 {
  font-size: 14px;
  color: rgb(75, 75, 75);
}
.aweet__img {
  position: absolute;
  right: 115px;
  max-width: 100px;
  max-height: 100px;
}
.aweet__button {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 17px;
  color: rgb(214, 66, 66);
}
.aweet__button i {
  cursor: pointer;
  margin: 0 8px;
}
