.aweet {
  border: 3px solid black;
  border-radius: 30px;
  margin: 10px;
  padding: 10px;
  max-width: 300px;
  text-align: center;
}
.aweet__button {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}
